<div class="form-group">
  <form [formGroup]="reactiveForm" #form="ngForm" (ngSubmit)="onSubmit()">
   
      <div class="article-name mb-3">
        <input type="text"
              class="form-control"
              placeholder="Art Work Name"
              formControlName="name">

        <div *ngIf="(name.dirty || form.submitted)">
          <div *ngIf="name.errors?.required" class="form-text">
            Art Work name is required
          </div>
          <div *ngIf="name.hasError('NameArticle')" class="form-text">
            The name of an Art Word has to be different from Prueba, Test, Mock or Fake
          </div>
        </div>

      </div>

      <div class="article-price mb-3">
        <input type="number"
              class="form-control"
              placeholder="Art Work Price"
              formControlName="price">

        <div *ngIf="(price.dirty || form.submitted)">
          <div *ngIf="price.errors?.required" class="form-text">
            Art Work price is required
          </div>
          <div *ngIf="price.errors?.min" class="form-text">
            The price of an Art Word must be at least 0,1€
          </div>
        </div>

      </div>

      <div class="article-image-url mb-3">
        <input type="text"
              class="form-control"
              placeholder="Art Work Image Url"
              formControlName="imageUrl">

        <div *ngIf="(imageUrl.dirty || form.submitted)">
          <div *ngIf="imageUrl.errors?.required" class="form-text">
            Art Work image URL is required
          </div>
          <div *ngIf="imageUrl.errors?.pattern" class="form-text">
            Art Work image URL does not seem to be a valid URL
          </div>
        </div>

      </div>

      <div class="article-is-on-sale mb-3 form-check">
          <input id="checkboxOnSale"
                type="checkbox"
                class="form-check-input"
                formControlName="isOnSale">
                
          <label class="form-check-label" for="checkboxOnSale">
            On Sale
          </label>
              
      </div>

    <button type="submit" class="btn btn-dark">Create Article</button>
  </form>
</div>