<div class="article-container"
    [class]="article.isOnSale ? 'is-on-sale' : 'is-sold-out'">
    <div class="article-img"
    [class.active]="article.isOnSale"
    [class.disabled]="!article.isOnSale"
    routerLink="/article/{{ article.id }}"><img [src]="article.imageUrl | defectImg" ></div>
    <div class="article-body">
        <h5 class="article-title">{{ article.name }}</h5>
        <div class="article-price"
        [class.active]="article.isOnSale"
        [class.disabled]="!article.isOnSale">{{ article.price | currency: 'EUR' }}</div>
        <div class="article-sale"
            *ngIf="article.isOnSale">
            <button class="btn btn-dark btn-negative"
                (click)="decrementInCart()"
                [disabled]="article.quantityInCart <= 0">&minus;</button>
            <div class="article-amount">{{ article.quantityInCart }}</div>
            <button class="btn btn-dark btn-positive"
            (click)="incrementInCart()">&plus;</button>
        </div> 
    </div>
</div>