<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand" (click)="showComponent('article-list')">Inicio</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-link active" (click)="showComponent('article-list')">Artículos</li>
        <li class="nav-link" (click)="showComponent('new-template')">Nuevo artículo template</li>
        <li class="nav-link" (click)="showComponent('new-reactive-template')" tabindex="-1">Nuevo artículo reactivo</li>
      </div>
    </div>
  </div>
</nav>