<div style="text-align:center">
  <h1 class="my-4">
    Welcome to {{ title }}!
  </h1>
  <app-navbar (changeContent)="onShowedComponent($event)"></app-navbar>

  <div *ngIf="currentComponent === 'article-list'">
    <app-article-list></app-article-list>
  </div>
  <div *ngIf="currentComponent === 'new-template'">
    <app-article-new-template></app-article-new-template>
  </div>
  <div *ngIf="currentComponent === 'new-reactive-template'">
    <app-article-new-reactive-template></app-article-new-reactive-template>
  </div>
</div>
